.panel-body {
    padding: 15px;
    width: 100%;
    position: relative;
}

/* Cards Set Up - START */
.flip3D {
    width: 100%;
    height: 200px;
}

.card {
    position: absolute; /* We need to stack the divs [back and front (on top)] */
    width: calc(100% - 30px);
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    backface-visibility: hidden; /* Do not show the content from the back */
    overflow: scroll;
}
.cardContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cardItem {
    flex: 1;
    min-width: 150px;
}

.card-button {
    display: flex;
    flex-direction: column;
}

.btnGroup1 {
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.btnGroup2 {
    padding: 5px;
    display: flex;
    justify-content: center;
}

.btnEdit {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2;
    border-radius: 18px;
    padding: 3px 20px;
}

.btnDelete {
    color: #3bff56;
    background-color: #F44336;
    border-color: #de362a;
    border-radius: 18px;
    padding: 3px 20px;
}

.btnFlip {
    color: #212529;
    background-color: #fdd22d;
    border-color: #ceac2a;
    border-radius: 18px;
    padding: 5px 20px;
}

.flip3D > .front {
    background-color: #c0de87;
    -webkit-transform: perspective(1000px) rotateY(0deg);       /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: perspective(1000px) rotateY(0deg);       /* IE 9 */
            transform: /* Start State for front */              /* IE 10, Fx 16+, Op 12.1+ */
                       perspective(1000px) /* perspective need to be high so that it is not warped */
                       rotateY(0deg); /* card face forward by default */
}

.flip3D > .back {
    background-color: #d9f3a8;
    border: 5px solid #c0de87;
    -webkit-transform: perspective(1000px) rotateY(180deg);     /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: perspective(1000px) rotateY(180deg);     /* IE 9 */
            transform: /* Start State for back */               /* IE 10, Fx 16+, Op 12.1+ */
                       perspective(1000px) /* perspective need to be high so that it is not warped */
                       rotateY(180deg); /* card face forward by default */
}

.flip3D > .transparentFront {
    -webkit-transform: perspective(1000px) rotateY(0deg);       /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: perspective(1000px) rotateY(0deg);       /* IE 9 */
            transform: /* Start State for transparent front */  /* IE 10, Fx 16+, Op 12.1+ */
                       perspective(1000px) /* perspective need to be high so that it is not warped */
                       rotateY(0deg); /* card face forward by default */
}

.flip3D > .transparentBack {
    -webkit-transform: perspective(1000px) rotateY(180deg);     /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: perspective(1000px) rotateY(180deg);     /* IE 9 */
            transform: /* Start State for transparent back */   /* IE 10, Fx 16+, Op 12.1+ */
                       perspective(1000px) /* perspective need to be high so that it is not warped */
                       rotateY(180deg); /* card face forward by default */
}
/* Cards Set Up - END */

/* Cards Animation duration - START */
.slow {
    transition: -webkit-transform 0.3s linear 0s;   /* controls animation */
    transition: -ms-transform 0.3s linear 0s;       /* controls animation */
    transition: transform 0.3s linear 0s;           /* controls animation */
}
/* Cards Animation duration - END */
