<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta id="my-data" data-name="{{ foodList }}">
    <title>Food Nutrition Value</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/vendor/dc.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>
<body>    
    <div class="container">
        <header class="row header">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo">NUTRITION</a>
                    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="wide-menu" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('get_food_items') }}">Food Items</a></li>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('add_food_item') }}">New Item</a></li>
                        <li><a href="{{ url_for('get_classification') }}">Food Category</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-menu">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('get_food_items') }}">Food Items</a></li>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('add_food_item') }}">New Item</a></li>
                        <li><a href="{{ url_for('get_classification') }}">Food Category</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <hr>
        </header>
        

        {% block content %}
        {% endblock %}

        <!-- <footer class="page-footer font-small blue pt-4"> -->
        <footer class="footer">
            <div class="container">
                <hr>
    
                <div class = "row">
                    <div class="col-sm-6 text-left">
                        <p>&copy; 2018 - <span class="year"></span>, Anthony Bonello. <br>This page was coded and created by Anthony Bonello, 2018 - 2019.</p>
                        <script> var span = document.getElementsByClassName("year");
                            span[0].innerText = (new Date).getFullYear();</script>
                    </div>
                    <div class="col-sm-6 text-center">
                            <a href="https://www.linkedin.com/in/anthonybonello/" target="_blank"><i class="fa fa-linkedin"></i> My LinkedIn</a><br>
                            <a href="https://github.com/abonello/food_nutrition" target="_blank"><i class="fa fa-github"></i> This project is on GitHub</a>
                    </div>
                </div>
            </div>
    
        </footer>
    </div>
    

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="../static/js/script.js"></script> 
</body>
</html>