<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta id="my-data" data-name="{{ foodList }}">
    <title>Food Nutrition Value</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous" />
    <link rel="stylesheet" href="./static/vendor/dc.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <!-- Temporary style for dashboard, also effecting other pages. -->
    <style> 
        a { 
            text-decoration: none;
            color: rgb(17, 27, 33); /* #111b21; */
        }
    
    </style>
</head>
<body>
    
    <div class="container">
        <header class="row header">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo">NUTRITION</a>
                    <!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
                    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="wide-menu" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('get_food_items') }}">Food Items</a></li>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('add_food_item') }}">New Item</a></li>
                        <li><a href="{{ url_for('get_classification') }}">Food Classes</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <!-- <li><a href="{#{ url_for('add_category') }#}">Add Category</a></li> -->
                    </ul>
                    <ul class="side-nav" id="mobile-menu">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('get_food_items') }}">Food Items</a></li>
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                        <li><a href="{{ url_for('add_food_item') }}">New Item</a></li>
                        <li><a href="{{ url_for('get_classification') }}">Food Classes</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact</a></li>
                        <!-- <li><a href="{#{ url_for('add_category') }#}">Add Category</a></li> -->
                    </ul>
                </div>
            </nav>
            <hr>
        </header>
        

        {% block content %}
        {% endblock %}

        <!-- <footer class="page-footer font-small blue pt-4"> -->
        <footer class="footer">
            <div class="container">
                <hr>
    
                <div class = "row">
                    <div class="col-sm-6 text-left">
                        <p>&copy; 2018 - <span class="year"></span>, Anthony Bonello. <br>This page was coded and created by Anthony Bonello, 2018 - 2018.</p>
                        <script> var span = document.getElementsByClassName("year");
                            span[0].innerText = (new Date).getFullYear();</script>
                    </div>
                    <div class="col-sm-6 text-center">
                            <a href="https://github.com/abonello/food_nutrition" target="_blank"><i class="fa fa-github"></i>This project is on GitHub</a>
                    </div>
                </div>
            </div>
    
        </footer>

        
    </div>
    

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav();
        });
    </script>
    <script>
        
        function flipBox(front, back){
            var front = document.getElementById(front);
            var back = document.getElementById(back);

            var angle_front = rotate_degree(front);
            // 
            var angle_back = rotate_degree(back);
            // 

            if (angle_front == 0) {
                front.style.transform = "perspective(1000px) rotateY(-180deg)";
                back.style.transform = "perspective(1000px) rotateY(0deg)";
            } else if (angle_front == 180) {
                front.style.transform = "perspective(1000px) rotateY(0deg)";
                back.style.transform = "perspective(1000px) rotateY(180deg)";
            }
        }
        function rotate_degree(obj) {
            var st = window.getComputedStyle(obj, null);
            var matrix = st.getPropertyValue("transform");
            // 
            if(matrix !== 'none') {
                var values = matrix.split('(')[1].split(')')[0].split(',');
                var a = values[0];
                var b = values[1];
                var angle = Math.round(Math.atan2(b, a) * (180/Math.PI));
            } else { var angle = 0; }
            return (angle < 0) ? angle +=360 : angle;
        } 
    </script>
    <script>
        function toggleChevron(e) {
            $(e.target)
                .prev('.panel-heading')
                .find("i.indicator")
                .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        }
        $('#accordion').on('hidden.bs.collapse', toggleChevron);
        $('#accordion').on('shown.bs.collapse', toggleChevron);
    </script>
    <script>
        $(document).ready(function() {
            $('.panel-collapse').on('show.bs.collapse', function () {
                $(this).siblings('.panel-heading').addClass('active');
            });
            $('.panel-collapse').on('hide.bs.collapse', function () {
                $(this).siblings('.panel-heading').removeClass('active');
            });
        });
    </script>
    
    
</body>
</html>