{% extends "base.html" %}
{% block content %}

    <div class="row"> <!-- Heading for Accordion -->
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2>Food Classification</h2>
                <span></span>
                <p>The following is a list of food classifications in this data set.</p>
            </div>
        </div>
    </div>

    <div class="row">  <!-- Holds Accordion Panels -->
        <div class="col-sm-12">
            <!-- <div class="panel-group" id="accordion"> -->
            <div class="panel-group"> 
            <!-- JINJA TEMPLATING START -->
                <div class="classes">
                    <ul>
                        {% for class in classification %}
                                <li><i class="material-icons prefix classList">send</i>{{ class.class }}
                                    <span class="delClass">
                                        <a href="#">
                                        <i class="material-icons prefix classList">create</i>Edit </a> | 
                                        <a href="#">
                                        <i class="material-icons prefix classList">clear</i>
                                        <a href="{{ url_for('delete_class', class_id=class._id) }}" >Delete </a>
                                    </span>
                                </li>
                        {% endfor %}
                    </ul>
                    <div class="card-button">
                        <div class="btnGroup1">
                            <!-- <button class="btnEdit onclick=""><strong>Edit</strong></button> -->
                            <form action="{{ url_for('add_class', cameFrom='get_classification') }}" method="GET">
                                <button class="btnAdd" onclick=""><strong>Add</strong></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- End column -->
    </div><!-- End row -->

{% endblock %}