{% extends "base.html" %}
{% block content %}

    <h2>Dashboard</h2>

    <div class="modal" id="displayModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Selected Food</h4>
                </div>
                <div class="modal-body" id="fillDataHere">
                    <!-- Modal Data will be added here programmatically. -->
                </div>
                <div class="modal-footer"></div>
                <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <div class="group1">
        <div class="row">
            <div class="col col-sm-12 col-md-5"> <!-- Start Column 1 -->
                <div id="info">
                    <h3>Info</h3>
                    <div class="dc-data-count"></div>
                </div>
                <div id="rowChart1">
                    <h4>Food Classification</h4>
                    <a class="reset" style="visibility: hidden;" href="javascript:classRowChart.filterAll(); dc.redrawAll();"><button class="btn btn-primary btn-sm">reset</button></a>
                    <span class="reset" style="visibility: hidden;">Range: <span class="filter"></span></span>
                    <a class="reset" href="javascript:classRowChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                    <div class="clearfix"></div>
                    <!-- Row Chart will be added here programmatically. -->
                </div>
            </div> <!-- End Column 1 -->
            <!-- <div class="clearfix"></div> -->
            <div class="col col-sm-12 col-md-3"> <!-- Start Column 2 -->
                <div id="scatterChart1">
                    <h4>All Fats vs Saturated Fats</h4>
                    <a class="reset" style="visibility: hidden;" href="javascript:scatterSatFat.filterAll(); dc.redrawAll();"><button class="btn btn-primary btn-sm">reset</button></a>
                    <span class="reset" style="visibility: hidden;">Range: <span class="filter"></span></span>
                    <div class="clearfix"></div>
                    <!-- Scatter Chart will be added here programmatically. -->
                </div>
                <div id="scatterChart2">
                    <h4>Carbohydrates vs Sugar</h4>
                    <a class="reset" style="visibility: hidden;" href="javascript:scatterSugCarb.filterAll(); dc.redrawAll();"><button class="btn btn-primary btn-sm">reset</button></a>
                    <span class="reset" style="visibility: hidden;">Range: <span class="filter"></span></span>
                    <div class="clearfix"></div>
                    <!-- Scatter Chart will be added here programmatically. -->
                </div>
            </div>
                <!-- <div class="clearfix"></div> -->
            <div class="col col-sm-12 col-md-3 col-md-offset-1"> <!-- Start Column 2 -->
                <div id="scatterChart3">
                    <h4>Energy vs Protein</h4>
                    <a class="reset" style="visibility: hidden;" href="javascript:scatterEnergyProt.filterAll(); dc.redrawAll();"><button class="btn btn-primary btn-sm">reset</button></a>
                    <span class="reset" style="visibility: hidden;">Range: <span class="filter"></span></span>
                    <div class="clearfix"></div>
                    <!-- Scatter Chart will be added here programmatically. -->
                </div>
                <div id="scatterChart4">
                    <h4>Salt vs Sugar</h4>
                    <a class="reset" style="visibility: hidden;" href="javascript:scatterSugSalt.filterAll(); dc.redrawAll();"><button class="btn btn-primary btn-sm">reset</button></a>
                    <span class="reset" style="visibility: hidden;">Range: <span class="filter"></span></span>
                    <div class="clearfix"></div>
                    <!-- Scatter Chart will be added here programmatically. -->
                </div>
            </div> <!-- End Column 2 -->
            
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col col-sm-12">
                <table id="table" class="table table-hover " >
                    <!-- Table content will be added here programmatically. -->
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./static/vendor/d3.js"></script>
    <script type="text/javascript" src="./static/vendor/crossfilter.js"></script>
    <script type="text/javascript" src="./static/vendor/dc.js"></script>
    <script>
        // Utility function
        function print_filter(filter) {
            var f=eval(filter);
            if (typeof(f.length) != "undefined") {}else{}
            if (typeof(f.top) != "undefined") {f=f.top(Infinity);}else{}
            if (typeof(f.dimension) != "undefined") {f=f.dimension(function(d) { return "";}).top(Infinity);}else{}
            console.log(filter+"("+f.length+") = "+JSON.stringify(f).replace("[","[\n\t").replace(/}\,/g,"},\n\t").replace("]","\n]"));
        }


        var graphData = {{ data.food_list | safe }}

        // Look for data for Modal
        function dataSearch(data, idToLookFor) {
            for (var i=0; i < data.length; i++) {
                if (data[i]._id == idToLookFor) {
                    return(data[i]);
                }
            }
        };

        function fill(item) {
            thisData = dataSearch(graphData, item.getAttribute("data"));

            var modalEnergy = function() {
                var text = "Energy: "+thisData.energy1
                if (thisData.energy1 != "NA" && thisData.energy1 != "") {
                    text = text + "kJ"
                }
                if (thisData.energy1 == "" || thisData.energy2 == "") {}
                else {text = text + " / "}
                text = text + thisData.energy2
                if (thisData.energy2 != "NA" && thisData.energy2 != "") {
                    text = text + "kJcal"
                }
                return text;
            }
            
            var modalFats = function() {
                var text = "Fats: "
                if (thisData.fat == "") {
                    text = text + "_. Saturated: "
                }
                else if (thisData.fat === "NA") {
                    text = text + thisData.fat + ". Saturated: "
                }
                else {
                    text = text + thisData.fat
                }

                if (thisData.fat != "NA" && thisData.fat != "") {
                    text = text + "g, of which Saturated: "
                }
                
                if (thisData.saturated == "") {
                    text = text + "_."
                }
                else if (thisData.saturated == "NA") {
                    text = text + thisData.saturated+"."
                }
                else {
                    text = text + thisData.saturated
                }

                if (thisData.saturated != "NA" && thisData.saturated != "") {
                    text = text + "g."
                }

                return text;
            }

            var modalCarbs = function() {
                var text = "Carbohydrates: "
                if (thisData.carbohydrates == "") {
                    text = text + "_. Sugar: "
                }
                else if (thisData.carbohydrates === "NA") {
                    text = text + thisData.carbohydrates + ". Sugar: "
                }
                else {
                    text = text + thisData.carbohydrates
                }

                if (thisData.carbohydrates != "NA" && thisData.carbohydrates != "") {
                    text = text + "g, of which Sugar: "
                }
                
                if (thisData.sugar == "") {
                    text = text + "_."
                }
                else if (thisData.sugar == "NA") {
                    text = text + thisData.sugar+"."
                }
                else {
                    text = text + thisData.sugar
                }

                if (thisData.sugar != "NA" && thisData.sugar != "") {
                    text = text + "g."
                }

                return text;
            }
            
            var modalOthers = function() {
                var text = "Protein: "
                if (thisData.protein == "") {
                    text = text + "_. Fibre: "
                }
                else if (thisData.protein === "NA") {
                    text = text + thisData.protein + ". Fibre: "
                }
                else {
                    text = text + thisData.protein + "g. Fibre: "
                }


                if (thisData.fibre == "") {
                    text = text + "_. Salt: "
                }
                else if (thisData.fibre === "NA") {
                    text = text + thisData.fibre + ". Salt: "
                }
                else {
                    text = text + thisData.fibre + "g. Salt: "
                }

                if (thisData.salt == "") {
                    text = text + "_."
                }
                else if (thisData.salt === "NA") {
                    text = text + thisData.salt + ". "
                }
                else {
                    text = text + thisData.salt + "g."
                }
                return text;
            }
            
            var energyText = modalEnergy();
            var fatsText = modalFats();
            var carbsText = modalCarbs();
            var othersText = modalOthers();
            
            // console.log(energyText);
            // console.log(fatsText);
            // console.log(carbsText);


            var modalContent = "<p><strong>"+ thisData.name +"</strong>, "+ 
                            thisData.brand +" - "+ thisData.classification+"<br>"+
                            energyText+"<br>"+fatsText+"<br>"+carbsText+"<br>"+othersText+"<br>"+
                            "<hr><br>Item bought from: "+thisData.shop+"<br>"+
                            "<br>Notes: "+thisData.notes+"</p>"

            $(".modal-body").html(modalContent);
                
        };
        
        // console.log(graphData);

        var facts = crossfilter(graphData);
        var all = facts.groupAll();
        // Scatter Chart dimensions
        var scatterDimensionSatFat = facts.dimension(function(d) { return [d.saturated, d.fat]; });
        var scatterDimensionSugCarb = facts.dimension(function(d) { return [d.sugar, d.carbohydrates]; });
        // var scatterDimensionEnergyProt = facts.dimension(function(d) { return [d.energy1, d.protein]; });
        var scatterDimensionEnergyProt = facts.dimension(function(d) { return [d.energy2, d.protein]; });
        var scatterDimensionSugSalt = facts.dimension(function(d) { return [d.sugar, d.salt]; });
        // Row Chart dimension
        var classDimension = facts.dimension(function(d) { return d.classification; });
        // Table dimension
        var idDimension = facts.dimension(function(d) { return d._id; });

        // Scatter Chart groups
        var scatterGroupSatFat = scatterDimensionSatFat.group();
        var scatterGroupSugCarb = scatterDimensionSugCarb.group();
        var scatterGroupEnergyProt = scatterDimensionEnergyProt.group();
        var scatterGroupSugSalt = scatterDimensionSugSalt.group();
        var classGroup = classDimension.group()

        var dataCount = dc.dataCount(".dc-data-count")
            .dimension(facts)
            .group(all)
            .html({
                some: '<strong>%filter-count</strong> selected out of <strong>%total-count</strong> records. <a href="javascript:dc.filterAll(); dc.renderAll()"><button class="btn btn-success">Reset All</button></a>',
                all: 'All records selected. Please click on the graphs to apply filters.'
            });

        // CHARTS
        var scatterSatFat = dc.scatterPlot("#scatterChart1")
            .width(300)
            .height(220)
            .margins({top:15, bottom:30, left:30, right:50})
            .dimension(scatterDimensionSatFat)
            .group(scatterGroupSatFat)
            .x(d3.scale.linear().domain([0, 25])) // [min, max] 0 25
            .y(d3.scale.linear().domain([0, 50])) // Can be left out to set automatically 0 35
            .yAxisLabel("All Fats (g)")
            .xAxisLabel("Saturated (g)")
            .renderHorizontalGridLines(true)
            .renderVerticalGridLines(true)
            .symbolSize(10)
            .clipPadding(22)
            .colorAccessor(function(d) { return d.value; }) // shows if a dot represents one item or more
            .colors(d3.scale.category20b())
            .symbol("circle") // cross, diamond, circle, square, triangle-down, triangle-up
            .controlsUseVisibility(true)
            .filterPrinter(function(filters) { 
                var range = 'From ['+Math.round(filters[0][0][0],0)+', '
                                    +Math.round(filters[0][0][1],0)+'] to ['
                                    +Math.round(filters[0][1][0],0)+', '
                                    +Math.round(filters[0][1][1],0)+']'
                return range; })
            ;
        scatterSatFat.yAxis().ticks(4); 

        var scatterSugCarb = dc.scatterPlot("#scatterChart2")
            .width(300)
            .height(220)
            .margins({top:15, bottom:30, left:30, right:50})
            .dimension(scatterDimensionSugCarb)
            .group(scatterGroupSugCarb)
            .x(d3.scale.linear().domain([0, 80])) // [min, max] 0 15
            .y(d3.scale.linear().domain([0, 80])) // Can be left out to set automatically 0 15
            .yAxisLabel("Carbohydrates (g)")
            .xAxisLabel("Sugar (g)")
            .renderHorizontalGridLines(true)
            .renderVerticalGridLines(true)
            .symbolSize(10)
            .clipPadding(22)
            .colorAccessor(function(d) { return d.value; }) // shows if a dot represents one item or more
            .colors(d3.scale.category20b())
            .symbol("circle") // cross, diamond, circle, square, triangle-down, triangle-up
            .controlsUseVisibility(true)
            .filterPrinter(function(filters) { 
                var range = 'From ['+Math.round(filters[0][0][0],0)+', '
                                    +Math.round(filters[0][0][1],0)+'] to ['
                                    +Math.round(filters[0][1][0],0)+', '
                                    +Math.round(filters[0][1][1],0)+']'
                return range; })
            ;
        scatterSugCarb.yAxis().ticks(4); 

        var scatterEnergyProt = dc.scatterPlot("#scatterChart3")
            .width(300)
            .height(220)
            .margins({top:15, bottom:30, left:30, right:50})
            .dimension(scatterDimensionEnergyProt)
            .group(scatterGroupEnergyProt)
            // .x(d3.scale.linear().domain([0, 2100])) // [min, max] 0 2000 Energy1 kJ
            .x(d3.scale.linear().domain([0, 600])) // [min, max] 0 2000 Energy2 kcal
            .y(d3.scale.linear().domain([0, 30])) // Can be left out to set automatically 0 30
            .yAxisLabel("Protein (g)")
            .xAxisLabel("Energy (kcal)")
            .renderHorizontalGridLines(true)
            .renderVerticalGridLines(true)
            .symbolSize(10)
            .clipPadding(22)
            .colorAccessor(function(d) { return d.value; }) // shows if a dot represents one item or more
            .colors(d3.scale.category20b())
            .symbol("circle") // cross, diamond, circle, square, triangle-down, triangle-up
            .controlsUseVisibility(true)
            .filterPrinter(function(filters) { 
                var range = 'From ['+Math.round(filters[0][0][0],0)+', '
                                    +Math.round(filters[0][0][1],0)+'] to ['
                                    +Math.round(filters[0][1][0],0)+', '
                                    +Math.round(filters[0][1][1],0)+']'
                return range; })
            ;
        scatterEnergyProt.yAxis().ticks(4);

        var scatterSugSalt = dc.scatterPlot("#scatterChart4")
            .width(300)
            .height(220)
            .margins({top:15, bottom:30, left:30, right:50})
            .dimension(scatterDimensionSugSalt)
            .group(scatterGroupSugSalt)
            .x(d3.scale.linear().domain([0, 80])) // [min, max] 0 15
            .y(d3.scale.linear().domain([0, 7])) // Can be left out to set automatically 0 3
            .yAxisLabel("Salt (g)")
            .xAxisLabel("Sugar (g)")
            .renderHorizontalGridLines(true)
            .renderVerticalGridLines(true)
            .symbolSize(10)
            .clipPadding(22)
            // .colorAccessor(function(d) { return d.value; }) // shows if a dot represents one item or more
            // .colors(d3.scale.category20b())
            .symbol("circle") // cross, diamond, circle, square, triangle-down, triangle-up
            .controlsUseVisibility(true)
            .filterPrinter(function(filters) { 
                var range = 'From ['+Math.round(filters[0][0][0],0)+', '
                                    +Math.round(filters[0][0][1],0)+'] to ['
                                    +Math.round(filters[0][1][0],0)+', '
                                    +Math.round(filters[0][1][1],0)+']'
                return range; })
            ;
        scatterSugSalt.yAxis().ticks(4); 


        var classRowChart = dc.rowChart('#rowChart1')
            .width(400)
            .height(400)
            .margins({top: 20, left: 10, right: 10, bottom: 20})
            .dimension(classDimension)
            .group(classGroup)
            .title(function (d) {
                return (d.key +": "+ d.value);
                })
            .elasticX(true)
            // .xAxis().ticks(4) // DO NOT ADD: This will break the reset filters 
            .controlsUseVisibility(true)
            ;
        

        var dataTable = dc.dataTable("#table")
            .width(1360)
            .height(300)
            .dimension(idDimension)
            .group(function(d) { return d; })
            .showGroups(false)
            .columns([  
                {label:'Name', format: function(d) { 
                    // return "<button class='btn'><a href='#' data-target='#displayModal' data-toggle='modal' data="+d._id+" onclick='fill(this)'>"+d.name+"</a></button>"; }},
                    return "<a href='#' data-target='#displayModal' data-toggle='modal' data="+d._id+" onclick='fill(this)'><button class='btn'>"+d.name+"</button></a>"; }},
                {label:'Brand', format: function(d) { return d.brand; }},
                {label:'Type', format: function(d) { return d.classification; }}
                ]) 
            .sortBy(function(d) { return d.name; })
            .size(1000)
            ;

        d3.selectAll(".table").attr("class", "table-striped");
        
        

        dc.renderAll();

    </script>

    

{% endblock %}