{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2>Nutrition Dashboard</h2>
                <p>Currently using hard-coded data.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Scatter Plot</h2>

        <div class="row">
            <div class="group1">
                <h3>Fats vs Saturated Fats</h3>
                <div id="scatterChart"></div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="./static/vendor/d3.js"></script>
    <script type="text/javascript" src="./static/vendor/crossfilter.js"></script>
    <script type="text/javascript" src="./static/vendor/dc.js"></script>
    <script type="text/javascript">

        function print_filter(filter) {
            var f=eval(filter);
            if (typeof(f.length) != "undefined") {}else{}
            if (typeof(f.top) != "undefined") {f=f.top(Infinity);}else{}
            if (typeof(f.dimension) != "undefined") {f=f.dimension(function(d) { return "";}).top(Infinity);}else{}
            console.log(filter+"("+f.length+") = "+JSON.stringify(f).replace("[","[\n\t").replace(/}\,/g,"},\n\t").replace("]","\n]"));
        }

    var data = [
            {
                "classification": "Tomato Puree", 
                "name": "Tomato Puree", 
                "brand": "Cucina", 
                "energy1": "335kJ", 
                "energy2": "79kcal", 
                "fat": "0.5", 
                "saturated": "0.1", 
                "carbohydrates": "14.0g", 
                "sugar": "14.0g", 
                "fibre": "1.8g", 
                "protein": "4.3g", 
                "salt": "1.6g", 
                "shop": "Aldi", 
                "notes": "Double Concentrate / 20g = 1/5-a-day"
            }, 
            {
                "classification": "Dried Tomatoes", 
                "name": "Sundried Tomatoes", 
                "brand": "Tesco", 
                "energy1": "674kJ", 
                "energy2": "163kcal", 
                "fat": "11.9", 
                "saturated": "1.4", 
                "carbohydrates": "7.0g", 
                "sugar": "6.4g", 
                "fibre": "7.9", 
                "protein": "3.0g", 
                "salt": "2.8g", 
                "shop": "Tesco", 
                "notes": "Marinated with garlic in sunflower oil and virgin olive oil / drained"
            }, 
            {
                "classification": "Milk", 
                "name": "Semi Skimmed Milk", 
                "brand": "Tesco", 
                "energy1": "209kJ", 
                "energy2": "50kcal", 
                "fat": "1.8", 
                "saturated": "1.1", 
                "carbohydrates": "4.8g", 
                "sugar": "4.8g", 
                "fibre": "0.0g", 
                "protein": "3.6g", 
                "salt": "0.1g", 
                "shop": "Tesco", 
                "notes": ""
            }, 
            {
                "classification": "Cheese", 
                "name": "Mature Cheddar", 
                "brand": "Creamfields", 
                "energy1": "1725kJ", 
                "energy2": "416kcal", 
                "fat": "34.9", 
                "saturated": "21.7", 
                "carbohydrates": "0.1g", 
                "sugar": "0.1g", 
                "fibre": "0.0g", 
                "protein": "25.4g", 
                "salt": "1.8g", 
                "shop": "Tesco", 
                "notes": "Exclusive at Tesco"
            }
        ]

        var facts = crossfilter(data);

        var scatterDimension = facts.dimension(function(d) { return [d.fat, d.saturated]; });
        var scatterGroup = scatterDimension.group();


        var scatter = dc.scatterPlot("#scatterChart")
            .width(800)
            .height(250)
            .margins({top:15, bottom:30, left:60, right:50})
            .dimension(scatterDimension)
            .group(scatterGroup)
            .x(d3.scale.linear().domain([0, 35])) // [min, max] 
            .y(d3.scale.linear().domain([0, 25])) // Can be left out to set automatically
            .yAxisLabel("All Fats")
            .xAxisLabel("Saturated")
            .renderHorizontalGridLines(true)
            .renderVerticalGridLines(true)
            .symbolSize(10)
            .clipPadding(22)
            .colorAccessor(function(d) { return d.value; }) // shows if a dot represents one item or more
            .colors(d3.scale.category20b())
            .symbol("circle") // cross, diamond, circle, square, triangle-down, triangle-up
            ;

        scatter.yAxis().ticks(4); 

        dc.renderAll();
    </script>

{% endblock %}