{% extends "base.html" %}
{% block content %}

    <div class="row"> <!-- Heading for Accordion -->
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2>Nutrition Value App</h2>
                <span></span>
                <p>value per 100g (100ml) for various food items.</p>
                <hr>
                
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-12 info">
            <h3>Dashboard</h3>
            <div class="row">
                <div class="col col-sm-6 info">
                    <p>Explore the nutritional value of various food items. Filter by using the interactive graphs.</p>
                    <img src="/static/images/graphs2.png" class="img-responsive" alt="graph image">
                </div>
                <div class="col col-sm-6 info">
                    <p>see more details by selecting a food item from the filered table.</p>
                    <img src="/static/images/modal.png" class="img-responsive" alt="modal image">
                </div>
            </div>
        </div>

        <div class="col col-sm-6 info">
            <h3>Rotating cards</h3>
            <p>The panels in the accordion view contain cards taht can rotate to reveal more information as well as buttons for action on that food item.</p>
            <img src="/static/images/accordion-optimize.gif" class="img-responsive" alt="rotating card image">
        </div>

        <div class="col col-sm-6 info">
            <h3>Add / Edit food items</h3>
            <p>Food items are stored in a database. Users can add and edit these food items.</p>
            <img src="/static/images/addfooditem.png" class="img-responsive" alt="add food item image">
        </div>

        <div class="col col-sm-6 info">
            <h3>Menus</h3>
            <p>Use the menus at the top to navigate around</p>

            <img src="/static/images/menu.png" class="img-responsive" alt="add food item image">
        </div>

        <div class="col col-sm-6 info">
            <h3>Contact</h3>
            <p>Get in touch using the provided contact form</p>
            
            <img src="/static/images/contact.png" class="img-responsive" alt="contact form image">

        <div class="col col-sm-6"></div>
            
            
            
            
            
    </div>

    

{% endblock %}