<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous" />
    <link rel="stylesheet" href="./static/css/style.css" />
</head>
<body>
    
    <div class="container">
        <div class="row header">
                <h1>Nutrition Value App</h1>
                <p>Nutrition value per 100g (100ml) for various food items.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Food Items</h2>
                    <span></span>
                    <p>Click to check the details of each food item.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title accordion-toggle" data-target="#panel1" data-toggle="collapse" data-parent="#accordion">Semi Skimmed Milk - Tesco - Milk
                                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>

                        <div id="panel1" class="panel-collapse collapse">
                            <div class="panel-body panel-size">
                                <div class="flip3D">
                                    <div class="card back slow" id="box1_back">
                                        <h4>More information</h4>
                                        <p>This milk was baought from Tesco. There are other brands from different shops.</p>
                                        <div class="card-button">
                                            <div class="btnGroup1">
                                                <button class="btnEdit onclick=""><strong>Edit</strong></button>
                                                <button class="btnDelete" onclick=""><strong>Delete</strong></button>
                                            </div>
                                            <div class="btnGroup2">
                                                <button class="btnFlip" onclick="flipBox('box1_front', 'box1_back')"><strong>Back to Front</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card front slow" id="box1_front">
                                        <div class="cardContent">
                                            <div class="cardItem">
                                                <h4>Energy:</h4>
                                                <p>209.kJ / 50.kcal</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Fats:</h4>
                                                <p>1.8g</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Saturate:</h4>
                                                <p>1.1g</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Carbohydrates:</h4>
                                                <p>4.8g</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Sugar:</h4>
                                                <p>4.8g</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Fibre:</h4>
                                                <p>0.0g</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Protein:</h4>
                                                <p>3.6g</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Salt:</h4>
                                                <p>0.1g</p>
                                            </div>
                                        </div>
                                        <div class="card-button">
                                            <div class="btnGroup2">
                                                <button class="btnFlip" onclick="flipBox('box1_front', 'box1_back')"><strong>More info and Controls at the Back</strong></button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




 <!-- JINJA TEMPLATING START -->
 {% set foodItem1 = {"name": "Tomato Puree", "brand": "Cucina", "energy1": "335.kJ", "energy2": "79.kcal", "fat": "0.5g","saturated": "0.1g", "carbohydrates": "14.0g", "sugar": "14.0g", "fibre": "1.8g", "protein": "4.3g", "salt": "1.6g","classification": "Tomato Puree", "shop": "Aldi", "notes": "Double Concentrate / 20g = 1/5-a-day"} %}

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title accordion-toggle" data-target="#panel2" data-toggle="collapse" data-parent="#accordion">{{ foodItem1.name }}
                                 - {{ foodItem1.brand }} - {{ foodItem1.classification }}
                                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </h4>
                        </div>



                        <div id="panel2" class="panel-collapse collapse">
                            <div class="panel-body panel-size">
                                <div class="flip3D">
                                    <div class="card back slow" id="box2_back">
                                        <h4>More information</h4>
                                        <p>{{ foodItem1.notes }}</p>
                                        <p>This item was bought from {{ foodItem1.shop }}.</p>
                                        <div class="card-button">
                                            <div class="btnGroup1">
                                                <button class="btnEdit onclick=""><strong>Edit</strong></button>
                                                <button class="btnDelete" onclick=""><strong>Delete</strong></button>
                                            </div>
                                            <div class="btnGroup2">
                                                <button class="btnFlip" onclick="flipBox('box2_front', 'box2_back')"><strong>Back to Front</strong></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card front slow" id="box2_front">
                                        <div class="cardContent">
                                            <div class="cardItem">
                                                <h4>Energy:</h4>
                                                <p>{{ foodItem1.energy1 }} / {{ foodItem1.energy2 }}</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Fats:</h4>
                                                <p>{{ foodItem1.fat }}</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Saturate:</h4>
                                                <p>{{ foodItem1.saturated }}</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Carbohydrates:</h4>
                                                <p>{{ foodItem1.carbohydrates }}</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Sugar:</h4>
                                                <p>{{ foodItem1.sugar }}</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Fibre:</h4>
                                                <p>{{ foodItem1.fibre }}</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Protein:</h4>
                                                <p>{{ foodItem1.protein }}</p>
                                            </div>
                                            <div class="cardItem">
                                                <h4>Salt:</h4>
                                                <p>{{ foodItem1.salt }}</p>
                                            </div>
                                        </div>
                                        <div class="card-button">
                                            <div class="btnGroup2">
                                                <button class="btnFlip" onclick="flipBox('box2_front', 'box2_back')"><strong>More info and Controls at the Back</strong></button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                                <h4 class="panel-title accordion-toggle" data-target="#panel3" data-toggle="collapse" data-parent="#accordion">Title - Brand - Category
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                </h4>
                        </div>
                        <div id="panel3" class="panel-collapse collapse">
                            <div class="panel-body">
                                    <tr><th>Energy</th> <td>209.kJ</td> <th>Energy</th> <td></td></tr>
                                    <tr><th>Fat</th> <td></td> <th>Saturated</th> <td></td></tr>
                                    <tr><th>Carbohydrates</th> <td></td> <th>Sugar</th> <td></td></tr>
                                    <tr><th>Fibre</th> <td></td> <th>Protein</th> <td></td></tr>
                                    <tr><th>Salt</th> <td></td> <th></th> <td></td></tr>
                            </div>
                        </div>
                    </div>
                </div><!-- End accordion panel-group -->
            </div><!-- End column -->
        </div><!-- End row -->
        
        
  
        


    </div>

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script 
        src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
    </script>

    <script>
        
        function flipBox(front, back){
            var front = document.getElementById(front);
            var back = document.getElementById(back);

            var angle_front = rotate_degree(front);
            // console.log(angle_front);
            var angle_back = rotate_degree(back);
            // console.log(angle_back);

            if (angle_front == 0) {
                front.style.transform = "perspective(1000px) rotateY(-180deg)";
                back.style.transform = "perspective(1000px) rotateY(0deg)";
            } else if (angle_front == 180) {
                front.style.transform = "perspective(1000px) rotateY(0deg)";
                back.style.transform = "perspective(1000px) rotateY(180deg)";
            }
            // elem_f.style.transform = "perspective(1000px) rotateY(-180deg)";
            // elem_b.style.transform = "perspective(1000px) rotateY(0deg)";
        }
        function rotate_degree(obj) {
            var st = window.getComputedStyle(obj, null);
            var matrix = st.getPropertyValue("transform");
            // console.log(matrix);
            if(matrix !== 'none') {
                var values = matrix.split('(')[1].split(')')[0].split(',');
                var a = values[0];
                var b = values[1];
                var angle = Math.round(Math.atan2(b, a) * (180/Math.PI));
            } else { var angle = 0; }
            return (angle < 0) ? angle +=360 : angle;
        } 
    </script>
    <script>
        /* // function toggleChevron(e) {
        //     $(e.target)
        //         .prev('.panel-heading')
        //         .find("i.indicator")
        //         .toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
        // }
        // $('#accordion2').on('hidden.bs.collapse', toggleChevron);
        // $('#accordion2').on('shown.bs.collapse', toggleChevron); */

    </script>
    
</body>
</html>


