{% extends "base.html" %}
{% block content %}

    <div class="row"> 
        <div class="col-md-12">
            <div class="section-title text-center">
                <h2>Contact Us</h2>
                <p>Do you have ideas or suggestions to improve this app? <br>
                Would you like to use this app on your website? <br>
                Would you like me to develop another app for your website?<br>
                If you answered yes for any of the above or for any other reason,<br>
                I would like to hear from you. </p>
            </div>
        </div>
    </div>
{% endblock %}